.container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADING CONTAINER */
.gameHeadingContainer {
  position: absolute;
  top: 0;
  min-height: 5vh;
  width: 100%;
  z-index: 5;

  gap: 5vh;
  text-align: center;
}

.cyberpunkCity .gameHeadingContainer {
  position: absolute;
  background-color: transparent;
  padding: 0;
}

.gameHeadingContainer h1 {
  display: none;
}
.timer {
  position: fixed;
  font-size: 2.4rem;
  right: 10px;
  top: 10px;
  background-color: rgba(240, 255, 255, 0.687);
  padding: 2px 5px;
  color: black;
  border-radius: 10px;
}


/* */

.gameContainer {
  position: relative;
  margin: 0;
  padding: 0;
}

.gameImage {
  display: block;
  object-fit: contain;
  width: 100%;
  padding: 0;
  margin: 0;
}

.notifySuccess {
  z-index: 5;
  position: fixed;
  margin: 0 auto;
  top: 15vh;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.notifySuccess p {
  background-color: green;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.6rem;
}


.foundCharacters {
  padding: 0;
  margin: 0;
  border: 5px solid rgb(251, 5, 5);
}
