.charactersContainer {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1vh;
    justify-content: center;
    gap: 3px;
  }
  .cyberpunkCity .charactersContainer {
    justify-content: start;
  }
  
  .characterContainer {
    border: 5px solid black;
    background-color: rgba(250, 151, 21, 0.995);
    color: white;
    padding-top: 10px;
  }
  
  .charactersContainer {
    margin: 0;
    padding: 0;
  }
  .characterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .characterContainer img {
    display: block;
    width: max(150px, 8vh);
    height: max(140px, 8vh);
    object-fit: contain;
  }
  .characterContainer p {
    font-size: 1.2rem;
  }